[Unit]
Description=Club Alpin RSS Feed Server
After=network.target

[Service]
Type=simple
User=pbeaudequin
WorkingDirectory=/home/pbeaudequin/clubalpin_rss
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pbeaudequin/clubalpin_rss/venv/bin/python /home/pbeaudequin/clubalpin_rss/scrape_to_rss.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
